body {
    font-family: sans-serif;
}

header{
  background-color: #009999;
  padding: 5px;
  border-radius: 10px; 
  border: 2px solid gray; 
}

h1{
  text-align: center;
  color:#009999;
}

footer p{
  background-color:#009999;
  margin: 15px;
}

select{
    background-color: #009999;
    color:black;
    
}
